[RADARR_SOURCE]
URL = http://192.168.1.1:7878
TOKEN = xxxx

[RADARR_DEST]
URL = http://192.168.1.1:7879
TOKEN = xxxx
ROOTFOLDER = 1
QUALITYPROFILE = 1
MONITOR = ON
SEARCH = ON
MINIMUM_AVAILABILITY = released

[SYNC]
ENABLED = ON
DRY_RUN = ON
VERBOSE_LOGGING = ON
